html, body {
  height: 100%;
}

.master {
  display: flex;
  height: inherit;
}

.sidebar {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gameplay {
  flex-basis: calc(100% - 200px);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center; 
  padding: 15px;
}