/* #scoreboard {
  height: 250px;
  width: 300px;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
}

#scoreboard h1 {
  flex-basis: 100%;
  height: 65px;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

#scoreboard div {
  flex-basis: 100%;
} */